* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
}

.green {
  color: #1caf08 !important;
}

.red {
  color: rgb(195, 7, 7) !important;
}

.coin-arrow {
  transform: rotate(90deg);
}

.up {
  color: #1caf08 !important;
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
}

.down {
  color: rgb(195, 7, 7) !important;
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}

.none {
  visibility: hidden;
}

.animation-none {
  animation: none !important;
}

.real-time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
}
.real-time__main {
  position: relative;
  background-color: rgb(17, 17, 17);
  min-height: 100vh;
  flex-grow: 1;
  padding: 10% 5%;
}
.real-time__line {
  position: fixed;
  width: 30vw;
  top: 0px;
  left: 0vw;
  border: 1px solid rgba(85, 155, 240, 0.545);
  animation-name: line-load;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes line-load {
  0% {
    width: 30vw;
    left: 0px;
  }
  25% {
    width: 100vw;
    left: 0px;
    border: 1px solid rgb(195, 118, 30);
  }
  50% {
    width: 30vw;
    right: 0px;
    left: 70vw;
    border: 1px solid rgba(85, 155, 240, 0.545);
  }
  75% {
    width: 100vw;
    left: 0px;
  }
  100% {
    width: 30vw;
    left: 0px;
  }
}
@keyframes high-again-text {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes high-again-arrow {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
.real-time .high-again-text {
  animation-name: high-again-text;
  animation-duration: 0.5s;
}
.real-time .high-again-arrow {
  animation-name: high-again-text;
  animation-duration: 0.5s;
}
@keyframes low-again-text {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}
.real-time .low-again-text {
  animation-name: low-again-text;
  animation-duration: 0.5s;
}
.real-time__top-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  max-width: 700px;
}
.real-time__boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(25, 26, 28);
  padding: 10px;
  flex-grow: 1;
  max-width: 700px;
  border-radius: 5px;
  gap: 10px;
}
.real-time__right-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  padding: 10px;
  flex-grow: 2;
  background-color: rgb(25, 26, 28);
  max-width: 350px;
  border-radius: 5px;
  gap: 20px;
}
.real-time__boxes-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}
.real-time__coin-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.real-time__boxes-title {
  font-size: 15px;
  color: white;
  font-family: sans-serif;
}
.real-time__coin-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #515151;
}
.real-time__top-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: 10px;
}
.real-time__add-title {
  font-family: sans-serif;
  font-size: 20px;
  color: white;
}
.real-time__add-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}
.real-time__add-select {
  width: 100%;
  border: 2px solid rgba(62, 60, 60, 0.649);
  font-size: 14px;
  font-family: sans-serif;
  border-radius: 3px;
  background-color: rgb(25, 26, 28);
  color: rgb(210, 210, 210);
  padding: 10px 5px;
  outline: none;
}
.real-time__add-option {
  border: none;
}
.real-time__add-input {
  width: 100%;
  border: 2px solid rgba(62, 60, 60, 0.649);
  font-size: 14px;
  font-family: sans-serif;
  border-radius: 3px;
  background-color: rgba(9, 16, 40, 0.226);
  color: rgb(143, 142, 142);
  padding: 10px 5px;
  outline: none;
}
.real-time__add-button {
  width: 100%;
  font-family: sans-serif;
  padding: 5px;
  border: none;
  border-radius: 3px;
  background-color: rgb(195, 118, 30);
  color: white;
  font-size: 15px;
  font-weight: 600;
}
.real-time__actives {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  width: 100%;
}
.real-time__actives-table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  width: 100%;
}
.real-time thead {
  width: 100%;
}
.real-time tbody {
  width: 100%;
}
.real-time__actives-row-title {
  gap: 15px !important;
}
.real-time__actives-row {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  align-items: start;
  width: 100%;
  gap: 15px;
}
.real-time__actives-des {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.816);
  font-weight: 600;
  width: 100px;
  word-break: break-all; /* Harflarni har qanday joydan pastga tushiradi */
  white-space: normal;
  text-align: start;
}
.real-time__actives-des-title {
  color: rgba(141, 141, 141, 0.366) !important;
}

@media (max-width: 500px) {
  .real-time {
    flex-direction: column;
    gap: 30px;
  }
  .real-time__top-left {
    max-width: none;
    flex-grow: 2;
    width: 100%;
  }
  .real-time__right-section {
    width: 100%;
    max-width: none;
  }
  .real-time__actives-des {
    width: 100px;
    font-size: 14px;
  }
  .real-time__actives-row {
    justify-content: start;
    gap: 5px !important;
  }
}
.backpack {
  display: none;
}/*# sourceMappingURL=style.css.map */