.real-time {
  @include display();
  gap: 30px;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  &__main {
    position: relative;
    background-color: rgb(17, 17, 17);
    min-height: 100vh;
    flex-grow: 1;
    padding: 10% 5%;
  }

  &__line {
    position: fixed;
    width: 30vw;
    top: 0px;
    left: 0vw;

    border: 1px solid rgba(85, 155, 240, 0.545);
    animation-name: line-load;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  @keyframes line-load {
    0% {
      width: 30vw;
      left: 0px;
    }
    25% {
      width: 100vw;
      left: 0px;
      border: 1px solid rgb(195, 118, 30);
    }
    50% {
      width: 30vw;
      right: 0px;
      left: 70vw;
      border: 1px solid rgba(85, 155, 240, 0.545);
    }
    75% {
      width: 100vw;
      left: 0px;
    }
    100% {
      width: 30vw;
      left: 0px;
    }
  }

  @keyframes high-again-text {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-3px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  @keyframes high-again-arrow {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .high-again-text {
    animation-name: high-again-text;
    animation-duration: 0.5s;
  }

  .high-again-arrow {
    animation-name: high-again-text;
    animation-duration: 0.5s;
  }

  @keyframes low-again-text {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(3px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .low-again-text {
    animation-name: low-again-text;
    animation-duration: 0.5s;
  }


  &__top-left {
    @include display();
    flex-grow: 1;
    max-width: 700px;
  }

  &__boxes {
    @include display();
    flex-direction: column;
    background-color: rgb(25, 26, 28);
    padding: 10px;
    flex-grow: 1;
    max-width: 700px;
    border-radius: 5px;
    gap: 10px;
  }

  &__right-section {
    @include display();
    flex-direction: column;
    align-items: start;
    padding: 10px;
    flex-grow: 2;
    background-color: rgb(25, 26, 28);
    max-width: 350px;
    border-radius: 5px;
    gap: 20px;
    // display: none;
  }

  &__boxes-left {
    @include display();
    width: 100%;
    justify-content: space-between;
    gap: 10px;
  }

  &__coin-left {
    @include display();
    gap: 5px;
  }

  &__boxes-title {
    font-size: 15px;
    color: white;
    font-family: sans-serif;
  }

  &__coin-amount {
    @include display();
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #515151;
  }

  &__top-right {
    @include display();
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 10px;
  }

  &__add-title {
    font-family: sans-serif;
    font-size: 20px;
    color: white;
  }

  &__add-form {
    @include display();
    flex-direction: column;
    width: 100%;
    gap: 5px;
  }

  &__add-select {
    width: 100%;
    border: 2px solid rgba(62, 60, 60, 0.649);
    font-size: 14px;
    font-family: sans-serif;
    border-radius: 3px;
    background-color: rgb(25, 26, 28);
    color: rgb(210, 210, 210);
    padding: 10px 5px;
    outline: none;
  }

  &__add-option {
    border: none;
  }

  &__add-input {
    width: 100%;
    border: 2px solid rgba(62, 60, 60, 0.649);
    font-size: 14px;
    font-family: sans-serif;
    border-radius: 3px;
    background-color: rgba(9, 16, 40, 0.226);
    color: rgb(143, 142, 142);
    padding: 10px 5px;
    outline: none;
  }
  &__add-button {
    width: 100%;
    font-family: sans-serif;
    padding: 5px;
    border: none;
    border-radius: 3px;
    background-color: rgb(195, 118, 30);
    color: white;
    font-size: 15px;
    font-weight: 600;
  }

  &__actives {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: 100%;
  }

  &__actives-table {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 5px;
    width: 100%;
  }

  thead {
    width: 100%;
  }
  tbody {
    width: 100%;
  }

  &__actives-row-title {
    gap:15px !important;
  }

  &__actives-row {
    @include display();
    justify-content: start;
    align-items: start;
    width: 100%;
    gap: 15px;
  }

  &__actives-des {
    @include display();
    justify-content: start;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.816);
    font-weight: 600;
    width: 100px;
    word-break: break-all; /* Harflarni har qanday joydan pastga tushiradi */
    white-space: normal;
    text-align: start;
  }

  &__actives-des-title {
    color: rgba(141, 141, 141, 0.366) !important;
  }
}

@media (max-width: 500px) {
  .real-time {
    flex-direction: column;
    gap: 30px;

    &__top-left {
      max-width: none;
      flex-grow: 2;
      width: 100%;
    }

    &__right-section {
      width: 100%;
      max-width: none;
    }

    &__actives-des {
      width: 100px;
      font-size: 14px;
    }

    &__actives-row {
      justify-content: start;
      gap: 5px !important;
    }
  }
}
